/*@charset "UTF-8";*/

#header_h1{
	background-color: rgb(224, 234, 248);
    width: 70%;
    height: 80px;
    margin: auto;
	padding-left: 20px;
	line-height: 80px;
}

#footer_nav{
	background-color: rgb(192, 192, 192)
	
}

.footer_p{
	color: grey;
	margin: auto;
	width: 70%;
	text-align: center;
}